
/* h3 {
    color:black;
    font-size:xx-large;
    padding-bottom: 2px;
    margin-bottom: 10px
}

p{
    text-align: center;
}

.text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 15px
} */
